{% extends "base.html.j2" %}
{% block content %}
<div class="container">
<h1>{{ post.title }}</h1>

<div class="jumbotron">
<small>{{ post.date | format_date }}</small>
<p>
    {{ markdown(post.content) }}
</p>
</div>
</div>
{% endblock %}
